<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <script>
  function clean(){
$.ajax({
	url: "https://inventory-shop-oauth.herokuapp.com/clean",
	type: "POST",
	dataType: "json",
	crossDomain: true,
	success: function (data) {
		alert("cleaned");
	},
	error: function (errMsg) {
		alert(errMsg);
	}
});
    alert("Thank you for your interest");
  }
function cleanSpread(){
$.ajax({
	url: "https://inventory-shop-oauth.herokuapp.com/cleanSheets",
	type: "POST",
	dataType: "json",
	crossDomain: true,
	success: function (data) {
		alert("cleaned");
	},
	error: function (errMsg) {
		alert(errMsg);
	}
});
    alert("Cleaned!");
  }
        
function updateSpread(){
$.ajax({
	url: "https://inventory-shop-oauth.herokuapp.com/updateSpreadSheet",
	type: "POST",
	dataType: "json",
	crossDomain: true
});
    alert("Updated!");
  }
</script>

<div class="jumbotron text-center">
  <div class="container">

    <h1>Pre-Order Inventory</h1>
    <a type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-download"></span>Github</a>
  </div>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-6">
      <ul>
          <h2>Instructions</h2>
          <ol></ol>
      </ul>
      <ul>
          <h3>Clean Pre-Order Products</h3>
          <a onclick = "clean()"type="button" class="btn btn-lg btn-default">Submit</a>
        <h3>See Pre-Order Customer Spreadsheet</h3>
          <a href = "https://docs.google.com/spreadsheets/d/1zYG_NnKzf7wvDwXlVu_0STYWSF9w2Y1FoO-Zf1Gwfhk/edit?usp=sharing" type="button" class="btn btn-lg btn-default">View</a>
        <h3>Download SpreadSheet</h3>
          <a href = "https://docs.google.com/spreadsheets/d/1zYG_NnKzf7wvDwXlVu_0STYWSF9w2Y1FoO-Zf1Gwfhk/gviz/tq?tqx=out:csv&sheet=Sheet1"type="button" class="btn btn-lg btn-default">Download CSV</a>
        <h3>Update SpreadSheet</h3>
          <a onclick = "updateSpread()"type="button" class="btn btn-lg btn-default">Update SpreadSheet</a>
        <h3>Clean SpreadSheet</h3>
          <a onclick = "cleanSpread()"type="button" class="btn btn-lg btn-default">Clean</a>

      </ul>
    </div>
    <div class="col-md-6">
<div style="padding-bottom:40px;">
<form method="post" action="https://preorder-app.herokuapp.com/issues">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name = "email"type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Issues</label>
    <textarea name = "message" class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
          
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Contact me if you have any issues.
  </div>
</div>

</body>
</html>
