<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">

    <h1>Pre-Order Inventory</h1>
    <a href = "https://github.com/Ryang20718/Inventory" type="button" class="btn btn-lg btn-default" ><span class="glyphicon glyphicon-download"></span>Github</a>
    <a href = "/home" type="button" class="btn btn-lg btn-default" ><span class="glyphicon"></span>Home</a>
  </div>
</div>
<div class="container">

  <div class="row">
      <ul>
          <h2>Instructions for Pre-Order</h2>
          <ol></ol>
      </ul>
      <ul>
        <h4>1. Go to variant that is out of Stock and click edit</h4>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vQVP7x9wO96W5gg-sN1XGSmHCVGCO3x2DkfpPK1mKcVIZIds1Bt_vmGtKHNW1o_oRJT4vWhVCtrpglH/pub?w=1440&amp;h=579">
        <h4>2. To enable Pre Order, Click the Checkbox "Allow Customers to Purchase Even When Out Of Stock. To disable Pre-Order, disable checkbox!"</h4>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vQgorDwXxG538VnCSHua62HRwBct3PIoNJAn-7YdxfWxOyCJ_fx8SuvEimjq3RDQTfuVdriQnv_qAMJ/pub?w=1433&amp;h=755">
        <h4>3. Click More Actions. Click Edit Metafields.</h4>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vTS_Q9OAfIUz3NAV9jXG5hK1yPoGwzXZSDGOZppULmLdvTZqCYoaMAZXYF0v4C8FG3jLJaYvNj2r1Qp/pub?w=1435&amp;h=707">
        <h4>4. Click On Variants and add a new Metafield for the variant that's out of stock</h4>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vREcI5yRprJotZO7DAS3htzCOsFiHNnYupRT8sIrF2glSFLTT0FurCRsMIynKKtG7n0LvkkYUXBeIvU/pub?w=1428&amp;h=1044">
        <h4>5. Create a Metafield with Namespace "Pre", Key "Order", and Value of the Estimated Time of Arrival</h4>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vQ74b3k1GaUk-mSh6HRSeOpLtLTdDvNmIMbhjSkUQog1zEWZbWpPZHvqtc6XdJg73MNBlvmP4tPLQZ1/pub?w=1176&amp;h=1026">
        <h4>6. Estimated Time Of Arrival Should Appear in the Checkout Section</h4>
        <img src="https://docs.google.com/drawings/d/e/2PACX-1vSgRjDlFfnXDSake3FTE_0G1i4mQ6a6ZuzHy6Kaacixle5qKetJrGrXGbBSQ5YnkIEWUiMEyBN2mO4b/pub?w=1441&amp;h=1013">  
          

      </ul>
    </div>

      </div>
   <div class="alert alert-info text-center" role="alert">
    Contact me if you have any issues.
  </div>

</body>
</html>
